soapflo/src/main/mule/soapflo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5cece3f4-20c3-4940-83c8-516ca7e4ec8c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0c24e7a3-c6b4-47f6-9cd1-c130a3d8ad8b" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="soapfloFlow" doc:id="87f8ad37-0373-4b98-9ba1-030dd550c030" >
		<http:listener doc:name="Listener" doc:id="423fb235-9be6-4754-851c-dc62b1b784c1" config-ref="HTTP_Listener_config" path="/soap"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="66f216fa-0357-4753-9b01-00d4e6c3a23c" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="dbab7827-a6d2-4c0f-a7eb-d631c5a77354" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="230fd98f-def3-450c-8f5b-cab852d81f56" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="46d4e102-baec-4894-9a45-d5d421fe7f27" config-ref="Web_Service_Consumer_Config" operation="Multiply" />
		<ee:transform doc:name="Transform Message" doc:id="c209fe35-1c10-4cd0-b71c-775b4b737be8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="db55c17d-2d48-4f43-8c5d-7e1293b3c96c" message="#[payload]"/>
	</flow>
</mule>
